<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name = "metadataBehavior">
          <serviceMetadata httpGetEnabled = "true" httpGetUrl = "http://121.199.5.209:88/calculatorservice/metadata" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="NoneSecurity" maxBufferPoolSize="120000000" maxReceivedMessageSize="120000000" useDefaultWebProxy="false">
          <readerQuotas maxStringContentLength="120000000" maxArrayLength="120000000"/>
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration = "metadataBehavior" name = "Sample.Service.CalculatorService">
        <endpoint bindingConfiguration="NoneSecurity" address = "http://121.199.5.209:88/calculatorservice" binding="wsHttpBinding" contract="Sample.Controct.ICalculatorService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
